= render 'shared/header'

.new-article-cont
  = form_for @article do |f|
    .na-title
      = f.text_field :title, class: "na-title-input", placeholder: "title"

    .na-upload-imgs
      .na-upload-img
        %label.na-upload-img__btn{ :for => "thumbnail-picker" }
          %span.na-upload-img__plus +
          %span.na-upload-img__text Small thumbnail
        // = file_field_tag :thumbnail, id: "thumbnail-picker"
      .na-upload-img
        %label.na-upload-img__btn{ :for => "background-img-picker" }
          %span.na-upload-img__plus +
          %span.na-upload-img__text Big background
        // = file_field_tag 'bg-img', id: "background-img-picker"

    .na-text-editor
      = f.text_area :body, :class => "tinymce"

    .na-action-btns
      %a.na-action-btns__cancel.na-action-btn{ :href => "#" }
        %span.na-action-btns__text
          %button{ :value => "Cancel", :class => "na-action-btns__btn" } Cancel
      .na-action-btns__save.na-action-btn{ :href => "#" }
        = f.submit "Submit", class: "na-action-btns__btn"
      .na-action-btns__draft.na-action-btn{ :href => "#" }
        = f.submit "Save as Draft", class: "na-action-btns__btn"

  = render 'shared/footer'

  = tinymce
