%article.article{ 'data-id': @article.id }
  .article-banner
    .article-banner__info
      %h1.article-banner__header= @article.title
      .article-banner__data
        .article-banner__star-rating
          .article-banner__star-rating-inner

        .article-banner__reading-time
          5 min read
        .article-banner__author
          Jane Doe
    .article-banner__image-cont
      = image_tag @article.image.url(:background_img), class: 'article-banner__image'
  
  .article-main-cont
    .article-wgt-col
      = render partial: 'shared/widgets/recent_posts_by_author_wgt'

      = render partial: 'shared/widgets/premium_ad_wgt'

      = render partial: 'shared/widgets/pop_now_wgt'

      = render partial: 'shared/widgets/top_rated_wgt'

    .article-body-col
      .article-body-text
        = @article.body.html_safe

      .article-interactive
        .interactive-btns

          %label.interactive-btns__donation-btn{ :href => "#", :for => "donation-btn-checkbox" }
            = image_tag asset_path("donation_button.svg"), class: "interactive-btns__donation-btn-icon"

          .interactive-btns__star-rating-cont
            .interactive-btns__star-rating



        %input{ :type => "checkbox", :id => "donation-btn-checkbox" }
        .donation-panel
          %h1.donation-panel__header Donate
          .donation-panel__body

            .amount-subpanel
              .amount-subpanel__inner
                %h1.amount-subpanel__header Donation Amount
                = text_field_tag :qwerty, nil, placeholder: "$", class: "amount-subpanel__amount-field", autocomplete: "off"
                .amount-subpanel__btns
                  %a.amount-subpanel__btn{ :href => "#" }
                    %span.amount-subpanel__btn-text $1
                  %a.amount-subpanel__btn{ :href => "#" }
                    %span.amount-subpanel__btn-text $3
                  %a.amount-subpanel__btn{ :href => "#" }
                    %span.amount-subpanel__btn-text $5

            .donation-submit
              %a.donation-submit__btn{ :href => "#" }
                = image_tag asset_path("send_icon.svg"), class: "donation-submit__btn-icon"

      = render partial: 'comment_section'


:javascript
  var interactiveBtnsRating = 3;

  $.ajax({
    url: '#{api_v1_article_interactive_rating_path(@article)}',
    method: 'GET',
    dataType: "json",
    success: function(data) {

      $('.interactive-btns__star-rating').rate({
        initial_value: data.rating,
        ajax_method: 'POST',
        url: '#{api_v1_article_rate_path(@article)}',
        additional_data: {
          "article_id": #{@article.id}
        }
      });

    }
  });

  $.ajax({
    url: '#{api_v1_article_avg_rating_path(@article)}',
    method: 'GET',
    success: function(data) {

      $('.article-banner__star-rating-inner').rate({
        initial_value: data.rating,
        readonly: true
      });

    }

  })


= render 'shared/footer'
