.post
  .post__left-col
    = link_to article, class: "post__img-link" do
      = image_tag article.image.url(:thumbnail), class: "post__img"
  .post__right-col
    = link_to article.category_name, browse_by_cat_path(article.category_slug_name), class: "post__catgr"
    %h1.post__header
      = link_to title_for_fp(article.title), article
    .post__data
      .post__data-item 
        %div{ id: "rating-" + "#{article.id}" }
      .post__data-item= pluralize(article.reading_time_in_mins, "minute")
      .post__data-item
        %a{ :href => "#" }= article.user.first_name + " " + article.user.last_name
    = link_to article, class: "post__body" do
      %p.post__body-text= truncate(strip_tags(article.body), length: 150)
      %span.post__read-more Read More

:javascript
  $.ajax({
    url: '#{api_v1_article_avg_rating_path(article)}',
    success: function(data) {

      var options = {
      
        step_size: 0.1,
        readonly: true,
        initial_value: data.rating
      };

      $("#rating-" + "#{article.id}").rate(options)

    }
  })
