= render 'shared/header'

.main-body
  .col-posts-body
    .post
      .post__left
        %a.post__img{ :href => pages_view_article_path }
          = image_tag asset_path("post_sample_image.png")
      .post__right
        %a.post__catgr{ :href => "#" } Books
        %h1.post-header
          = link_to "Go to view page", pages_view_article_path
        .post-data
          %span.post-data-item Adipisicing sds
          %span.post-data-item 5 min read
          %span.post-data-item
            %a{ :href => "#" } John Doe
        %a.post-body{ :href => pages_view_article_path }
          Dolor repudiandae sed quam eaque natus. Voluptatibus possimus eum blanditiis iste fugit Aspernatur perspiciatis ipsam autem quae modi Necessitatibus adipisci rem explicabo voluptate minima. 

  .col-widgets
    %aside.advertisement-square-top
      Hello

    .pop-now-wgt
      %h1.pop-now-wgt__main-header Popular Now

      - 3.times do
        = render 'shared/widget_post'
      
      .popular-now-down-button-container
        %a.down-arrow-button.popular-now-down-button{ :href => "#" }
          = image_tag asset_path("down_arrow.svg")

    .top-rated-widget
      %h1.top-rated-widget__main-header
        Top Rated

      - 3.times do
        = render 'shared/widget_post'

      .top-rated-down-button-container
        %a.top-rated-down-button.down-arrow-button{ :href => "#" }
          = image_tag asset_path("down_arrow.svg")

    %footer.footer-widget

      .widget-footer-links
        %a{ :href => "#" } About
        %a{ :href => "#" } About
        %a{ :href => "#" } About
        %a{ :href => "#" } About
      .footer-copy
        Copyright &copy; 2019 John Doe

