= render 'shared/header'

.main-body
  .col-posts-body
    .post
      .post__left-col
        %a.post__img-link{ :href => pages_view_article_path }
          = image_tag asset_path("post_sample_image.png"), class: "post__img"
      .post__right-col
        %a.post__catgr{ :href => "#" } Books
        %h1.post__header
          = link_to "Go to view page", pages_view_article_path
        .post__data
          %span.post__data-item Adipisicing sds
          %span.post__data-item 5 min read
          %span.post__data-item
            %a{ :href => "#" } John Doe
        %a.post__body{ :href => pages_view_article_path }
          Dolor repudiandae sed quam eaque natus. Voluptatibus possimus eum blanditiis iste fugit Aspernatur perspiciatis ipsam autem quae modi Necessitatibus adipisci rem explicabo voluptate minima. 

  .widgets-col
    %aside.ad-wgt
      %a.ad-wgt__link{ :href => "#" }
        = image_tag asset_path("sample_ad.jpeg"), class: "ad-wgt__img"

    = render 'shared/widgets/pop_now_wgt'

    = render 'shared/widgets/top_rated_wgt'

    = render 'shared/widgets/footer_wgt'
