.settings-cont
  %h1.settings-main-header Settings
  = render 'shared/settings_menu'
  .settings-body
    .settings-row
      .settings-cc
        %h1.settings-header
          Credit card
        - if current_user.credit_card.nil?
          .settings-cc-form
            = form_for [current_user, @new_credit_card], html: { class: "cc-form" } do |f|
              .card-js
                = f.text_field :number, class: "card-number"
                = f.text_field :holder_name, class: "name"
                = f.text_field :expiry_month, class: "expiry-month"
                = f.text_field :expiry_year, class: "expiry-year"
                = f.text_field :cvv, class: "cvc"
              = f.submit :Submit, class: "cc-submit-btn"
        - else
          .settings-cc-disp
            = image_tag asset_path("credit_card_sm.png"), class: "settings-cc-disp__img"
            <p>Credit card ending in #{@last_4}</p>
            .settings-cc-disp__delete
              = link_to "Delete", user_credit_card_url(current_user, @cc), method: :delete, class: "settings-cc-disp__delete-link"


:javascript
  $(document).ready(function() {
    var expiryMonth = myCard.CardJs('.expiry-month');
    var expiryYear = myCard.CardJs('.expiry-year');
  });
