= render 'shared/header'

%article.article
  .article-banner
    .article-banner__info
      %h1.article-banner__header How I've became a Web Developer
      .article-banner__data
        .article-banner__star-rating
          5 stars
        .article-banner__reading-time
          5 min read
        .article-banner__author
          Jane Doe
    .article-banner__image-cont
      = image_tag asset_path("article_banner.png"), class: 'article-banner__image'
  
  .article-main-cont
    .article-wgt-col
      = render 'shared/widgets/recent_posts_by_author_wgt'

      = render 'shared/widgets/premium_ad_wgt'

      = render 'shared/widgets/pop_now_wgt'

      = render 'shared/widgets/top_rated_wgt'

    .article-body-col
      .article-body-text
        Dolor illo dolores facilis ut soluta facere! Quasi quae quod repudiandae officiis autem Maxime eos deleniti ex obcaecati deserunt. Dignissimos sit voluptatum iure rerum fuga. Sed ea nostrum sapiente id veritatis sapiente Temporibus officia consequuntur molestias fugiat unde excepturi. Corporis recusandae assumenda rerum cumque iusto. Similique fugit similique repellat quasi odio rem rem! Dolorum laborum ratione nesciunt cum sed Aliquam deleniti illo eius aut inventore. Consequuntur sequi delectus nobis repudiandaeAdipisicing totam labore debitis nesciunt voluptates id amet? Recusandae quidem voluptatibus eaque nesciunt quibusdam similique Ducimus est aspernatur odit assumenda facilis Autem ut veritatis officiis maiores possimus! Ut laborum possimus officiis omnis nostrum! Quasi ea porro sit in praesentium Vel aliquid quas quisquam voluptatibus expedita fugit! Beatae maxime repellat labore qui nisi Laboriosam est iste voluptatum repellendus iste? Cupiditate aperiam aperiam eaque repellat culpa, amet. Delectus provident doloremque autem blanditiis iste! Expedita minima labore libero excepturi laboriosam Ipsam repellendus culpa reiciendis quae dicta tempora Doloribus qui error dicta natus odit Inventore ad amet error quia officiis nam Inventore quibusdam laborum reprehenderit repudiandae atque Non quos ut ab explicabo accusantium qui accusamus tempore? Molestias natus deserunt eum animi eligendi? Voluptates a autem similique totam reprehenderit vero aliquam Neque blanditiis ipsam delectus beatae aut similique Debitis obcaecati voluptatibus tenetur sed placeat Hic sit exercitationem fugiat soluta voluptatibus. Hic vel reiciendis porro culpa suscipit. Labore omnis nemo eveniet aspernatur laboriosam, asperiores Nostrum quo nobis dignissimos repudiandae natus Temporibus error natus corrupti vitae fugiat Harum ratione nobis reprehenderit impedit quia Minus tempora nemo expedita quo dolorem. Incidunt unde eligendi eligendi sit ex voluptatibus, voluptatum Similique corrupti obcaecati porro nobis minus Ducimus excepturi totam ad magnam nam. Explicabo aspernatur temporibus molestias fugiat aliquam, eligendi Eius aut maiores ipsum nostrum officia Veritatis architecto aliquam quam adipisci dolorem Alias repellendus impedit deserunt rem libero? Quam exercitationem laborum sint blanditiis asperiores Esse impedit repellendus aperiam nisi voluptas. Enim quo animi voluptate numquam architecto Assumenda minima sed dignissimos ullam eos impedit labore officiis, repellendus! Temporibus doloremque dolor ipsam ullam dolor. Commodi incidunt commodi repellat quae quo blanditiis. Numquam velit quo sed numquam sunt Beatae omnis expedita odio laudantium natus. Sapiente expedita eius eum in tempore. Cum ad nostrum ipsum rem ratione? Ullam sit illum inventore minus sunt Debitis iusto

      .article-interactive
        .interactive-btns

          %label.interactive-btns__donation-btn{ :href => "#", :for => "donation-btn-checkbox" }
            = image_tag asset_path("donation_button.svg"), class: "interactive-btns__donation-btn-icon"

          .star-rating-vote-container
            .star-rating-vote
              1 out of 5



        %input{ :type => "checkbox", :id => "donation-btn-checkbox" }
        .donation-panel
          %h1.donation-panel__header Donate
          .donation-panel__body

            .amount-subpanel
              .amount-subpanel__inner
                %h1.amount-subpanel__header Donation Amount
                = text_field_tag :qwerty, nil, placeholder: "$", class: "amount-subpanel__amount-field", autocomplete: "off"
                .amount-subpanel__btns
                  %a.amount-subpanel__btn{ :href => "#" }
                    %span.amount-subpanel__btn-text $1
                  %a.amount-subpanel__btn{ :href => "#" }
                    %span.amount-subpanel__btn-text $3
                  %a.amount-subpanel__btn{ :href => "#" }
                    %span.amount-subpanel__btn-text $5

            .donation-submit
              %a.donation-submit__btn{ :href => "#" }
                = image_tag asset_path("send_icon.svg"), class: "donation-submit__btn-icon"

      .article-cmts
        %h1.cmts-header Comments

        .cmts-cont
          .cmt-tree

          .cmt-tree
            .cmt
              .cmt__left-col
                .cmt__avatar
                  %a{ :href => "#" }
                    = image_tag asset_path("sample_profile_image_1.jpg"), class: "cmt__avatar-img"
              .cmt__right-col
                .cmt__name
                  %a.cmt__name-link{ :href => "#" } Elon Musk
                .cmt__text 
                  Ipsum unde illo earum optio quos. Veritatis voluptate dignissimos sint illo sequi Libero consequatur perspiciatis accusamus ut dignissimos Eius molestiae nobis optio consequuntur earum. Ea unde blanditiis corporis cum laboriosam
                .cmt__interactive
                  .cmt__vote-count
                    %span.positive-vote-count +300
                  %a.cmt__upvote{ :href => "#" }
                    = image_tag asset_path("thumbs_up_icon.svg"), class: "cmt-upvote-icon"
                  %a.cmt__downvote{ :href => "#" }
                    = image_tag asset_path("thumbs_down_icon.svg"), class: "cmt-downvote-icon"
                  %a.cmt__reply{ :href => "#" }
                    %span Reply
            .cmt-reply
              = form_tag "#", class: "cmt-reply-form" do
                = text_area_tag :hello, nil, class: "cmt-reply-field"
                = submit_tag :submit, class: "cmt-reply-submit-btn"

            .cmt.cmt-reply
              .cmt__left-col
                .cmt__avatar
                  %a{ :href => "#" }
                    = image_tag asset_path("sample_profile_image_1.jpg"), class: "cmt__avatar-img"
              .cmt__right-col
                .cmt__name
                  %a.cmt__name-link{ :href => "#" } Elon Musk
                .cmt__text 
                  Ipsum unde illo earum optio quos. Veritatis voluptate dignissimos sint illo sequi Libero consequatur perspiciatis accusamus ut dignissimos Eius molestiae nobis optio consequuntur earum. Ea unde blanditiis corporis cum laboriosam
                .cmt__interactive
                  .cmt__vote-count
                    %span.positive-vote-count +300
                  %a.cmt__upvote{ :href => "#" }
                    = image_tag asset_path("thumbs_up_icon.svg"), class: "cmt-upvote-icon"
                  %a.cmt__downvote{ :href => "#" }
                    = image_tag asset_path("thumbs_down_icon.svg"), class: "cmt-downvote-icon"
                  %a.cmt__reply{ :href => "#" }
                    %span Reply



%footer.article-footer
  .article-footer__inner
    %a{ :href => "#" } Help
    %a{ :href => "#" } Status
    %a{ :href => "#" } Writers
    %a{ :href => "#" } Blog
    %a{ :href => "#" } Careers
    %a{ :href => "#" } Privacy
    %a{ :href => "#" } Terms
    %a{ :href => "#" } About
